* {
  padding : 0px;
  margin : 0px;
}

body {
  background-color: #333;
  width : 75%;
  margin : auto;
}

#titleBar {
  color : #eee;
  background-color : deepskyblue;
  padding : 10px;
  margin-top : 35px;
}

nav {
  color : #333;
  background-color : #aaa;
  overflow : auto;
}

nav ul {
  overflow: auto;
  list-style : none;
}

nav ul li{
  float : right;
}

nav ul li a {
  color : #333;
  text-decoration: none;
  background-color: #ddd;
  padding : 10px;
  margin : 1px;
  display : block;
  width : 80px;
  text-align : center;
  height : 20px;
}

nav ul li a:hover{
  background-color: #eee;
}

a {
  color : #333;
}

a:hover {
  color : #999;
}

#appBody {
  background-color : #ddd;
  padding : 10px;
}

#card {
  width : 75%;
  color : black;
  background-color : white;
  text-align: center;
  margin : auto;
  margin-top : 25px;
  margin-bottom : 25px;
  padding : 15px;
}

#answers {
  display : none;
  padding : 10px;
}

#partOne {
  border-top : dotted grey 1px;
  padding : 10px;
}

#partTwo {
  border-top : dotted grey 1px;
  padding : 10px;
}

#nextButton {
  color : #ddd;
  background-color : deepskyblue;
  padding : 15px;
  width : 75px;
  height : 20px;
  margin : auto;
  text-align : center;
  font-size : x-large;
  font-weight : bold;
  border : solid white 1px;
}
#nextButton:hover {
  color : #333;
  background-color : lightskyblue;
}