<div>
  <h1> add new entry </h1>
  <br>
  <p> {{ testMessage }} </p>
  <br>
  <form>
    <select ng-model="deck">
      <option ng-repeat="data in datas" value="{{data.$id}}">{{data.$id}}</option>
    </select>
    <p>
      <label>question : </label><input style="text" ng-model="question">
    </p>
    <br>
    <p>
      <label>answer : </label><input style="text" ng-model="answer">
    </p>
    <br>
    <p>
      <label>explanition : </label><input style="text" ng-model="explain">
    </p>
    <br>
    <button ng-click="clickAdd()">add</button>
  </form>
</div>